* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f4cd56;
}

.wrap {
    width: 1000px;
    position: relative;
    top: 100px;
}

.wrap::after {
    content: '';
    position: absolute;
    top: -100px;
    left: 50%;
    width: 5px;
    z-index: -999;
    height: 1500px;
    background-color: rgba(255, 255, 255, .5);
}

.box {
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
/* 最后一个:返回首页 */
.box:last-child .right{
    visibility: hidden;
}
.box:last-child .center a{
    text-decoration: none;
    font-size: medium;
}
.box:last-child .center a:visited{
    color: #0000ee;
}
.box:last-child .center a:hover{
    text-shadow: 4px 4px 7px rgb(189, 254, 189);
    font-size: large;
}
.left,
.right {
    position: relative;
    width: 40%;
    height: 120px;
    padding-top: 90px;
    border-radius: 15px;
    text-align: center;
    text-shadow: 2px 2px 5px white ;
    font-weight: bolder;
    font-size: larger;
    color: rgb(247, 3, 76);
    /* background-color: rgba(255,255,255,.5); */
}

.box:nth-child(even) .left {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.box:nth-child(odd) .right {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.center {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center>span {
    width: 120px;
    border-radius: 10px;
    text-align: center;
    font: 900 24px '';
    line-height: 50px;
    background-color: #fff;
}